/* 
color and font info: 

font-family: 'Grenze Gotisch', cursive;
font-family: 'Nunito', sans-serif;
DarkCyan
#008B8B
Khaki
#F0E68C
LightCoral
#F08080
MidnightBlue
#191970

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Nunito:ital@1&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-size: 0.9rem;
  font-family: 'Nunito', sans-serif;
  background-color: #008B8B;
}

.App {

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.dropContainer {
  width: 100%;
  text-align: center;
}

.dashHeader {
  background: #efeffb;
  width: 100%;
  text-align: center;
  color: midnightblue;
  border-bottom: 10px solid midnightblue;
  border-top: 10px solid midnightblue;
}

.profileLink {
  text-align: right;
  margin: 1em;
  text-decoration: underline;
}

h5 {
  margin: 1rem;
  font-size: 1.2rem
}

h1 {
  text-align: center;
  color: midnightblue;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h3,
p {
  display: inline;
}

select {
  text-align: center;
  width: 10em;
  height: 3em;
  margin: 1em;
}

.card {
  background: #fef9f9;
  width: 20em;
  margin: 1em;
  padding: 0.7em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 5px solid lightcoral;
  line-height: 1.3;
  transition: ease-in-out 100ms;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.19), 0 3px 4px rgba(0, 0, 0, 0.24);
}

.commentText {
  margin-bottom: 1em;
}

.cardButton {

  text-align: center;
  left: 0px;
  margin-top: 1em;
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  color: midnightblue;
  background: lightcoral;
  width: 104px;
  height: 40px;
  outline: none;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  transition: ease-in-out 150ms;
}

.cardButton:hover {
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.19), 0 6px 8px rgba(0, 0, 0, 0.24); */
  transform: scale(1.05);

}

.cardButton:active {
  background-color: #e42a2a;
  color: white;
}
