@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Nunito:ital@1&display=swap');

#loginform{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,.1);
  background: linear-gradient(90deg, #fafafa 20%,    whitesmoke 100%);
  width: 90%;
  height: 70%;
  margin: 150px auto;
  /* background-color:#fcfae8; */
  border-radius: 10px;
  padding: 6rem;
  text-align: center;
  color: midnightblue;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;

  box-shadow: 0 35px 46px rgba(0,0,0,0.30), 0 18px 25px rgba(0,0,0,0.22);
  transition: 0.3s;
  /* ++ */
  border: 12px solid #fff; 
  /* text-transform: uppercase; */
}
  /* text-shadow: 1px 1px 2px white , 0 0 5px blue, 0 0 2px darkblue;
} */

#loginform:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: opacity 0.85s ease-in-out;
}


label{
  flex-wrap: wrap;
  width: 90%;
  box-sizing: border-box;
  border: none;
  text-align:center;
  font-size: 1rem;
  transition: box-shadow 0.6s ease-in;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: .9;
}

input:focus{
   box-shadow: inset 0px -3px 0px 0px lightcoral;
   outline: none;
   margin-right: 2rem;
}

h1{
  text-shadow: 1px .5px .5px lightgray, 0 0 4px white;
  font-family:  'Nunito', sans-serif;
  
}

 input{
  width: 100%;
  align-items: center;
  margin: .8rem;
  margin-right: .4;
  margin-left: .4;
  padding-bottom: .5rem;
  color:midnightblue;
  font-family: 'Nunito', sans-serif;
  transition: box-shadow 0.2s ease-in;
  border: none;
  background: linear-gradient(90deg, #fafafa 20%,    whitesmoke 100%);

  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
}



button{
  border-radius: 10px;

  align-self: center;
  width: 80%;
  height: 40px;
  font-size: 1rem;
  margin-top: 1.4rem;
  color: white;
  font-weight: 700;
  background:darkcyan;
  background: linear-gradient(90deg,  midnightblue 0%,  darkcyan  100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.65s ease-in;
  font-family: 'Nunito', sans-serif;
 
}
button:disabled {
 opacity: 0.2;
 cursor: not-allowed;

}

button:hover{
  opacity: 0.6;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2.3rem;

  
}
#form-errors {
  font-size: .8rem;
  

}

#login-link {
  margin-top: .4rem;
  color: midnightblue;
}
#login-link:hover{
  color: red;
}

article {
  font-size: 2.5rem;
  margin-bottom: 2rem;
 
  font-family: 'Grenze Gotisch', cursive;
}