@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Nunito:ital@1&display=swap');

#loginform{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(80deg, #fcfae8 20%,    whitesmoke 100%);
  width: 90%;
  height: 70%;
  margin: 150px auto;
  background-color:#fcfae8;
  border-radius: 10px;
  padding: 6rem;
  text-align: center;
  color: midnightblue;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}




label{
  flex-wrap: wrap;
  width: 90%;
  box-sizing: border-box;
  border: none;
  text-align:center;
  font-size: 1rem;
  transition: box-shadow 0.6s ease-in;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  opacity: .9;
}

input:focus{
   box-shadow: inset 0px -3px 0px 0px lightcoral;
   outline: none;
}



 input{
  width: 100%;
  align-items: center;
  margin: 1rem;
  margin-right: .4;
  padding-bottom: .5rem;
  color:midnightblue;
  font-family: 'Nunito', sans-serif;
  transition: box-shadow 0.2s ease-in;
  border: none;

  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
}



button{
  border-radius: 8px;
  align-self: center;
  width: 80%;
  height: 40px;
  font-size: 1rem;
  margin-top: 1.9rem;
  color: white;
  font-weight: 700;
  background:darkcyan;
  background: linear-gradient(90deg,  midnightblue 0%,  darkcyan  100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.65s ease-in;
  font-family: 'Nunito', sans-serif;
 
}
button:disabled {
 opacity: 0.2;
 cursor: not-allowed;

}

button:hover{
  opacity: 0.6;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  
}