@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500&family=Nunito:ital@1&display=swap');

body{
  /* background:darkcyan; */
  background: linear-gradient(100deg, #fcfae8 30%,    #d8cf7e 100%);
  /* font-family: 'Grenze Gotisch', cursive; */
}

html{
  font-size: 100%;
}

#loginform{

  width: 30%;
  height: 60%;
  margin: 150px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 6rem;
  text-align: center;
  color: midnightblue;
  font-family: 'Nunito', sans-serif
}




input{
  width: 80%;
  box-sizing: border-box;
    border: none;
    text-align:center;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-bottom: .5rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

input:focus{
   box-shadow: inset 0px -3px 0px 0px lightcoral;
   outline: none;
}



 label{
  align-self: center;
  text-align: center;
  /* padding: 4.5rem; */
  padding-bottom: 2rem;
  /* margin-bottom: 2rem; */
  color: rgba(187,187,187,0.9);
  font-family: 'Nunito', sans-serif;
}



button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  margin-top: 3.2rem;
  color: white;
  font-weight: 700;
  background:darkcyan;
  background: linear-gradient(90deg, darkcyan 0%,   midnightblue  100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  font-family: 'Nunito', sans-serif
}

button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.2rem;
}